body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: block;
  border: 0;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Hedder */
.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ws-logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-dark {
  color: #2e2f42;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden;
}

.studio-index {
  color: #404bbf;
  position: relative;
}

/* .header-nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  color: #404bbf;
  border-radius: 2px;
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
} */

/* .header-nav-link:active::after {
  background-color: #404bbf;
  transform: translateY(0%);
} */

.studio-index::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.header-nav-link:hover,
.header-nav-link:active,
.header-nav-link:focus {
  color: #404bbf;
}

.header-adress {
  color: #434455;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-adress-list {
  display: flex;
  gap: 40px;
}

.header-adress-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress-link:hover,
.header-adress-link:active,
.header-adress-link:focus {
  color: #404bbf;
}

/* Hero */
.hero {
  /* width: 100%; */
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 432px;
  padding-top: 72px;
  padding-bottom: 72px;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office1@2x.jpg);
  }
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 170px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.hero-button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  background-color: #4d5ae5;
  min-width: 169px;
  cursor: pointer;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:active,
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    height: 436px;
  }

  .hero-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    height: 600px;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

/* Title */

.title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

/* Our Skill */
.skill {
  padding-top: 96px;
  padding-bottom: 96px;
}

.skill-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skill-cont-icon {
  display: none;
}

.skill-subtitle {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
}

.skill-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .skill-list {
    gap: 64px 24px;
  }

  .skill-item {
    flex-basis: calc((100% - 48px) / 2);
  }

  .skill-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .skill {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .skill-list {
    gap: 24px;
  }

  .skill-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .skill-cont-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    margin-bottom: 8px;
  }

  .skill-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* Our Team */
.team {
  background-color: #f4f4fd;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #fff;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  fill: rgba(244, 244, 253, 1);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-item-card {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 32px 0;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;
  padding: 0 16px;
}

.team-icon-item {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
  background-color: #404bbf;
}

.team-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1158px) {
}

/* Our Portfolio */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  background: #fff;
  flex-basis: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-item-img {
  object-fit: cover;
}

.portf-img-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-item-card {
  width: 100%;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: 0;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1158px) {
}

/* Footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-white {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer-logo-text {
  margin-right: 120px;
}

.footer-cont {
  display: flex;
  align-items: baseline;
}

.footer-soc-title {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-soc-list {
  max-width: 208px;
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.footer-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: #f4f4fd;
}

.footer-icon-link:hover,
.footer-icon-link:focus,
.footer-icon-link:active {
  background-color: #31d0aa;
}

.footer-soc {
  margin-right: 80px;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-input {
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  color: #fff;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-input::placeholder {
  color: #fff;
}

.footer-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-icon {
  fill: #fff;
  margin-left: 16px;
}

.footer-btn:focus,
.footer-btn:hover,
.footer-btn:active {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1158px) {
}

/* Backdrop + */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 336px;
  margin-bottom: 24px;
}

.modal-icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus,
.modal-close:active {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover .modal-icon-close,
.modal-close:focus .modal-icon-close,
.modal-close:active .modal-icon-close {
  fill: #fff;
}

.modal-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
  width: 100%;
}

.modal-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  outline: transparent;
  padding-left: 38px;
  font-size: 16px;
  background-color: transparent;
  color: #4d5ae5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: #4d5ae5;
}

.moral-textarea-wrap {
  margin-bottom: 16px;
}

.modal-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;
  padding: 8px 16px;
  font-size: 12px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.moral-checkbox-wrap {
  margin-bottom: 24px;
}

.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  position: relative;
}

.check-text a {
  margin-left: 5px;
  color: #4d5ae5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  line-height: 1.33;
}

.check-icon-wrap {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check:checked + .check-text .check-icon-wrap {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.modal-send {
  min-width: 169px;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  border: none;
  padding: 16px 65.14px;
  background-color: #4d5ae5;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send:focus,
.modal-send:hover,
.modal-send:active {
  background-color: #404bbf;
}
